@using LojaNinja.MVC.Services
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    
    <h2 class="col-md-offset-5 ninja-font">Bazar Ninja</h2>
    @if (ServicoDeSessao.EstaLogado)
    {
       //TODO : LogOut
            <div class="container-fluid">
                <div class="pull-right">
                    Bem Vindo <b>@ServicoDeSessao.UsuarioLogado.Nome</b> (<a href="/Login/Loggout">Sair</a>)
                </div>
            </div>
   
    }
    <hr />
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    @RenderSection("scripts", false)    
    </body>
</html>