
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>    
    <div class="col-md-1 logo text-center">
        <img src="~/Content/ninja-portrait.png" class="center"/>
    </div>
    <div class="col-md-2 logo-text">
        <p>Ninja</p>
        <p>Bazar</p>
    </div>
</body>
</html>
