@font-face {
  font-family: 'japanese';
  src:  url('Vnhltfap.ttf') format('ttf')
}
#body-index{
    background:url(katana.jpg) no-repeat no-repeat left top fixed ;
    height:40em;
    background-size: 100% 50%;
}
.logo{
   
    padding:2em 0;
    margin:2em;
    background-color:#1F1F21;
}

.logo img{
    width:70px;
    height:70px;
}


.logo-text {
    margin:0.7em 0;
    font-family:japanese;
    color:red;
    font-size:3em;
}
.form-itens {
    padding: 50px;
}

.inverted-hover {
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
    
}

.inverted-hover:hover {
    background-color: #000;
    color: white;
}

.header-image {
    width: 190px;
    height: 190px;
    margin-top: 10px;
}

.ninja-font {
    font-family: 'Open Sans Condensed', sans-serif;
}

.urgente{
    color:red;
}