@import url('https://fonts.googleapis.com/css?family=Lato|Lato');
#index{
    background: url('img/backgorund.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:Lato;
}
#conteudo-index{
    margin-top:14em;
}
.btn-primary {
  color: #ffffff;
  background-color: #988150;
  border-color: #877347;
}
.text-center {
  text-align: center;
}
.active a{
    color:#988150;
    text-decoration: none;
}
.active a:hover{
    color:#77653e;
    text-decoration: none;
     background-color: #171717;
}
#brand-logo{
 background-color:#988150;
 height:100%;
}
#titulo-index{
    font-size:3.7em;
    color:white;
}
#sub-titulo-index{
    font-size:1.3em;
    color:white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #ffffff;
  background-color: #77653e;
  border-color: #5f5132;
}
.form-itens {
    padding: 50px;
}
.content{

    padding-top:10%;

}
.inverted-hover {
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
    
}

.inverted-hover:hover {
    background-color: #000;
    color: white;
}

.header-image {
    width: 190px;
    height: 190px;
    margin-top: 10px;
}

.ninja-font {
    font-family: 'Open Sans Condensed', sans-serif;
}

.urgente{
    color:red;
}

