
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Estilos/main.css">
    <title>Street Fighter</title>
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="index">Inicio</a></li>
            <li><a href="http://www.google.com/search?q=street+Fighter">Noticia</a></li>
            <li><a href="fichatecnica">Ficha Técnica</a></li>
            <li><a href="sobre">Sobre</a></li>
        </ul>
    </div>
    <div id="content-wrapper">
        @RenderBody()
    </div>
</body>
</html>